In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
beers = pd.read_csv("../dataset/RateBeer/beers.csv")
display(beers)

styles = beers["style"].unique()
counts = []
for style in styles:
    count = len(beers[beers["style"] == style])
    print(f"There are {count} {style} beers.")
    counts.append(count)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,410549,33 Export (Gabon),3198,Sobraga,Pale Lager,1,NaN,NaN,2.72,5.0,2.000000,NaN,0,NaN
1,105273,Castel Beer (Gabon),3198,Sobraga,Pale Lager,10,5.0,58.0,2.18,5.2,1.910000,NaN,0,NaN
2,19445,Régab,3198,Sobraga,Pale Lager,27,1.0,22.0,1.83,4.5,1.811111,NaN,0,NaN
3,155699,Ards Bally Black Stout,13538,Ards Brewing Co.,Stout,6,NaN,NaN,3.18,4.6,3.866667,0.823699,6,3.866667
4,239097,Ards Belfast 366,13538,Ards Brewing Co.,Golden Ale/Blond Ale,1,NaN,NaN,2.79,4.2,3.000000,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442076,189684,Stela Selekt,1107,Stefani & Co,Pilsener,5,NaN,NaN,2.19,4.7,1.500000,NaN,0,NaN
442077,84884,Hotel Martini Donauer,9355,Hotel Martini,Pale Lager,1,NaN,NaN,2.77,NaN,2.900000,NaN,0,NaN
442078,93783,Birra Rozafa,9928,Rozafa Brewery,Pale Lager,1,NaN,NaN,2.64,NaN,2.000000,NaN,0,NaN
442079,220897,Svejk Blonde,17155,Svejk Beer Garden,Pale Lager,4,NaN,NaN,2.70,NaN,2.500000,NaN,0,NaN
442080,220898,Svejk Dark,17155,Svejk Beer Garden,Dunkel/Tmavý,3,NaN,NaN,2.55,NaN,2.133333,NaN,0,NaN

There are 10735 Pale Lager beers.
There are 13762 Stout beers.
There are 20514 Golden Ale/Blond Ale beers.
There are 14329 Bitter beers.
There are 25532 American Pale Ale beers.
There are 2740 Irish Ale beers.
There are 7234 Wheat Ale beers.
There are 2538 English Strong Ale beers.
There are 5563 Black IPA beers.
There are 39898 India Pale Ale (IPA) beers.
There are 4748 American Strong Ale  beers.
There are 13913 Imperial IPA beers.
There are 4078 Berliner Weisse beers.
There are 11738 Sour/Wild Ale beers.
There are 2703 Zwickel/Keller/Landbier beers.
There are 16012 Saison beers.
There are 5812 Session IPA beers.
There are 12913 Imperial Stout beers.
There are 898 Foreign Stout beers.
There are 14019 Porter beers.
There are 14047 Spice/Herb/Vegetable beers.
There are 9242 Pilsener beers.
There are 10148 Belgian Ale beers.
There are 2332 Dry Stout beers.
There are 3446 Mild Ale beers.
There are 3425 Premium Lager beers.
There are 11664 Amber Ale beers.
There are 1556 Baltic Porter beers.
There are 1257 California Common beers.
There are 2135 Imperial Porter beers.
There are 3953 Dortmunder/Helles beers.
There are 4165 Smoked beers.
There are 3905 Abbey Tripel beers.
There are 10571 Brown Ale beers.
There are 6705 Premium Bitter/ESB beers.
There are 6840 Belgian Strong Ale beers.
There are 1597 Bière de Garde beers.
There are 8250 German Hefeweizen beers.
There are 3239 English Pale Ale beers.
There are 1894 Traditional Ale beers.
There are 5754 Sweet Stout beers.
There are 3152 Kölsch beers.
There are 2094 Altbier beers.
There are 1989 Sour Red/Brown beers.
There are 11493 Fruit Beer beers.
There are 1189 India Style Lager beers.
There are 590 Lambic Style - Fruit beers.
There are 1817 Cider beers.
There are 2921 Czech Pilsner (Světlý) beers.
There are 6514 Witbier beers.
There are 2263 Cream Ale beers.
There are 3064 Scotch Ale beers.
There are 4236 Dunkel/Tmavý beers.
There are 206 Sahti/Gotlandsdricke/Koduõlu beers.
There are 2963 Heller Bock beers.
There are 3955 Amber Lager/Vienna beers.
There are 2680 Doppelbock beers.
There are 2059 Imperial Pils/Strong Pale Lager beers.
There are 3004 Abbey Dubbel beers.
There are 2393 Dunkelweizen beers.
There are 741 Mead beers.
There are 4761 Specialty Grain beers.
There are 4940 Oktoberfest/Märzen beers.
There are 1502 Old Ale beers.
There are 2674 Dunkler Bock beers.
There are 717 Malt Liquor beers.
There are 2461 Radler/Shandy beers.
There are 1830 Scottish Ale beers.
There are 405 German Kristallweizen beers.
There are 2488 Schwarzbier beers.
There are 2375 Low Alcohol beers.
There are 5470 Barley Wine beers.
There are 2731 Grodziskie/Gose/Lichtenhainer beers.
There are 1586 Weizen Bock beers.
There are 1565 Abt/Quadrupel beers.
There are 478 Polotmavý beers.
There are 176 Perry beers.
There are 305 Eisbock beers.
There are 181 Lambic Style - Gueuze beers.
There are 181 Lambic Style - Unblended beers.
There are 28 Lambic Style - Faro beers.
There are 13 Saké - Daiginjo beers.
There are 6 Saké - Namasaké beers.
There are 11 Saké - Ginjo beers.
There are 14 Saké - Infused beers.
There are 4 Saké - Tokubetsu beers.
There are 24 Saké - Junmai beers.
There are 9 Saké - Nigori beers.
There are 3 Saké - Koshu beers.
There are 2 Saké - Taru beers.
There are 3 Saké - Honjozo beers.
There are 2 Saké - Genshu beers.
There are 7 Saké - Futsu-shu beers.
There are 2 Ice Cider/Ice Perry beers.